@page
@model TastyMeal.Pages.Admin.FoodType.UpsertModel
@{
    ViewData["Title"] = "Upsert";
}

<h1>Upsert</h1>

<form method="post" asp-action="Upsert">
    <div class="container table-bordered" style="width:60%">
        <br />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.FoodTypeModel.Id != 0)
            {
                <input type="hidden" asp-for="FoodTypeModel.Id" />
            }
            <div class="col-12" style="border-bottom:1px solid #e5e5e5">
                <h2>@(Model.FoodTypeModel.Id != 0 ? "Update " : "Create ")Food Type</h2>
            </div>
            <div class="col-11 pt-4">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="FoodTypeModel.Name" class="control-label"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="FoodTypeModel.Name" />
                        <span asp-validation-for="FoodTypeModel.Name" class="text-danger"></span>
                    </div>
                </div>                
                <div class="form-group">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary form-control">
                                    @(Model.FoodTypeModel.Id != 0 ? "Update" : "Create")
                                </button>
                            </div>
                            <div class="col-6">
                                <a asp-page="./Index" class="btn btn-info form-control">Back To List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
